html {
	font-size: 62.5%;
}

body {
	font-size: 12px;
}

a, button {
  text-overflow: unset;
	outline: none;
  text-align: center;
  cursor: pointer;
}

a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: inherit;
  width: auto;
  display: inline-block;
}

em {
  font-style: normal;
}

* {
  box-sizing: border-box;
  line-height: 1;
  font: inherit;
  color: inherit;
  margin: 0; 
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

input {
	font-size: 12px;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

